body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap:5px;
    margin: 20px;
}


calculator{
    background-color: rgb(171 199 125);
    width: 290px;
    height: 420px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    border-style: solid;
    border-color: black;
    gap: 30px;
    
}
display{
    background-color: rgb(235, 226, 226);
    width: 280px;
    height: 100px;
    border-radius: 15px;
    display: flex;  
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    font-size: 30px;
    border-style: solid;
    border-color: black;
}
button{
    background-color: rgb(129 194 201);
    cursor:grab;
    border-radius: 15px;
    width: 68px;
    height: 60px;
    
}
.active {
    border-style: inset;
  }

button:hover{
    background-color: rgb(110, 162, 168);
}
.disabled {
    border-style: inset;
    cursor: not-allowed;
    background-color: rgb(168, 230, 236);
  }
  

    

row{
    display: flex;
    flex-wrap: wrap;
    gap:5px;  
    justify-content: center;
}
.big{
    width:140px;
}